<div style="width: max-content; padding: 24px; text-align: center;">
  <svg id="no-mixcloud-error" xmlns="http://www.w3.org/2000/svg" width="100px" height="100" viewBox="0 0 50 50" xml:space="preserve">
    <circle style="fill:#171C2C;" cx="25" cy="25" r="25" />
    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16" />
    <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34" />
  </svg>
  <p style="font-size: 18px; font-weight: 400;">We are unable to retrieve any tracklist because there is no open Mixcloud page.</p>
</div>
