h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.11;
    text-transform: none;
}

.colored-header {
    background-color: rgb(23, 28, 43);
    height: 50px;
}

.title {
    width: 80%;
    margin: -30px auto auto;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.img-margin {
    margin-right: 16px;
}

.text {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #171c2b;
    text-align: justify;
}

.image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
